.App {
	text-align: center;
	
}

.counter {
	margin-top: 3%;
	margin-left: 40%;
}

input {
	border: none;
	height: 40px;
	width: 300px;
	border-bottom: 2px solid white;
	background: transparent;
}
.form{
	margin: auto;
}

.form-field{
	margin-top:1%;
}
input:focus {
	outline: none;
  }

button{
	
	margin-top: 3%;
	margin-left:11%;

}
::placeholder {
	font-size: 20px;
	color: white;
	opacity: 1; 
  }

.submit{
    background-color: #FFBA08;
    height: 30px;
    width: 100px;
    border: none;
    border-radius: 5px;
}
.Login{
	background-color: #FFBA08;
    height: 30px;
    width: 100px;
    border: none;
    border-radius: 5px;
	margin-left: 80%;

}
.head-login{
	color: white;
	margin-left: 50px;
}