.header {
	position: absolute;

	background-color: #00607A;
	height: 50px;
	width: 70%;
}
.logout-button{
    margin-top: 15px;
 margin-right: 50px;
 float: right;
 border: none;
 background-color: #00607A;

}
.footer {
    margin-top: 40rem;
	position: absolute;
    position: fixed;
	
	background-color: #00607A;
	height: 60px;
	width: 70%;
}

.footer-input{
    
    
    color:white;
    width: 60%;
    margin-left: 15%;
    border-bottom: solid 1px white;
}
::placeholder
{
    font-size: 15px;
    color: white;
    opacity: 1;


}
.footer-button
{
    position: absolute;
    margin: 0px;
    margin-left: 15px;
    margin-top:13px;
    border:none;
    background-color:#00607A;
}