.Home {
	display: flex;
}
.Sidebar {
	display: flex;
	width: 30%;
	height: 100vh;
	background-color: rgb(253, 253, 253);
	flex-direction: column;
	border-right: 1px solid rgb(78, 78, 78);
}
.Login-user {
	display: flex;
	width: 100%;
	flex-direction: column;
	/* border: soild 2px red;
    */
}

.ContactBox {
	margin-top: 0px;
	display: flex;
	width: 70%;
	height: 100vh;
	background-color: white;
	background-image: url(./images/wp4410716.jpg);
	opacity: 1;
	/* background-repeat: no-repeat; */
}

.SidebarChats {
	display: flex;
	/* border-bottom: solid 1px black; */
	left: 10%;
	height: 60px;
}

.user-images {
	
	margin-top: 10px;
	margin-bottom: 10px;
	height: 50px;
	width: 50px;
	
	border-radius: 50%;
}
.user-name {
	margin-top: 30px;
	display: flex;
	padding-left: 50px;
	font-family: 'Ubuntu', sans-serif;
	border-bottom: solid 1px black;
	width: 60%;

}
.user-edits{
	margin-left: 0px;
	margin-top: 42px;
	background-color: white;
	border: none;
}
.Login-user {
	text-align: center;
	display: flex;
	width: 100%;
	flex-direction: row;
	background-color: #ededed;
}
.Login-user-images {
	display: flex;
	
	margin-left: 10px;
	margin-top: 10px;
	height: 40px;
	width: 40px;
	border-radius: 50%;
}
.Login-user-text {
	margin-right: 30px;
	width: 100%;
	padding-top: 4%;
	padding-left: 0%;
	/* border-bottom: 1px solid black; */
}

.display-block {
	margin-top: 10%;
	border: solid 2px red;
	height: 300px;
	width: 300px;
	display: block;
	z-index: 5;
  }
  
  .display-none {
	display: none;
  }
  .button-add-model
  {
	  border: none;
	  background-color: #ededed;
	  margin-right: 10%;
  }
  .full-images{
	height: 200px;
	width: 200px;
  }